--
-- PostgreSQL database dump
--

\restrict d0YdWjjY1EJ553pYyUgAbu2MdjEb5aU7hZCeyDgh36fsufLJVQRFyDLcaHvGOnI

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: achievementcategory; Type: TYPE; Schema: public; Owner: sirius_user
--

CREATE TYPE public.achievementcategory AS ENUM (
    'SPORT',
    'SCIENCE',
    'ART',
    'VOLUNTEERING',
    'OTHER'
);


ALTER TYPE public.achievementcategory OWNER TO sirius_user;

--
-- Name: achievementlevel; Type: TYPE; Schema: public; Owner: sirius_user
--

CREATE TYPE public.achievementlevel AS ENUM (
    'SCHOOL',
    'MUNICIPAL',
    'REGIONAL',
    'FEDERAL',
    'INTERNATIONAL'
);


ALTER TYPE public.achievementlevel OWNER TO sirius_user;

--
-- Name: achievementstatus; Type: TYPE; Schema: public; Owner: sirius_user
--

CREATE TYPE public.achievementstatus AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public.achievementstatus OWNER TO sirius_user;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: sirius_user
--

CREATE TYPE public.userrole AS ENUM (
    'STUDENT',
    'MODERATOR',
    'SUPER_ADMIN',
    'guest',
    'GUEST'
);


ALTER TYPE public.userrole OWNER TO sirius_user;

--
-- Name: userstatus; Type: TYPE; Schema: public; Owner: sirius_user
--

CREATE TYPE public.userstatus AS ENUM (
    'PENDING',
    'ACTIVE',
    'REJECTED',
    'DELETED'
);


ALTER TYPE public.userstatus OWNER TO sirius_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: achievements; Type: TABLE; Schema: public; Owner: sirius_user
--

CREATE TABLE public.achievements (
    id integer NOT NULL,
    user_id integer NOT NULL,
    title character varying NOT NULL,
    description text,
    file_path character varying NOT NULL,
    category public.achievementcategory NOT NULL,
    level public.achievementlevel NOT NULL,
    points integer,
    status public.achievementstatus,
    rejection_reason text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.achievements OWNER TO sirius_user;

--
-- Name: achievements_id_seq; Type: SEQUENCE; Schema: public; Owner: sirius_user
--

CREATE SEQUENCE public.achievements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.achievements_id_seq OWNER TO sirius_user;

--
-- Name: achievements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sirius_user
--

ALTER SEQUENCE public.achievements_id_seq OWNED BY public.achievements.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: sirius_user
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    actor_id integer,
    action character varying NOT NULL,
    target_model character varying NOT NULL,
    target_id character varying NOT NULL,
    details character varying,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.audit_logs OWNER TO sirius_user;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: sirius_user
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_logs_id_seq OWNER TO sirius_user;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sirius_user
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: sirius_user
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    title character varying NOT NULL,
    message text NOT NULL,
    is_read boolean,
    link character varying,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.notifications OWNER TO sirius_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: sirius_user
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notifications_id_seq OWNER TO sirius_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sirius_user
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: user_tokens; Type: TABLE; Schema: public; Owner: sirius_user
--

CREATE TABLE public.user_tokens (
    id integer NOT NULL,
    user_id integer NOT NULL,
    token character varying NOT NULL,
    token_type character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    expires_at timestamp with time zone NOT NULL
);


ALTER TABLE public.user_tokens OWNER TO sirius_user;

--
-- Name: user_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: sirius_user
--

CREATE SEQUENCE public.user_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_tokens_id_seq OWNER TO sirius_user;

--
-- Name: user_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sirius_user
--

ALTER SEQUENCE public.user_tokens_id_seq OWNED BY public.user_tokens.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: sirius_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying NOT NULL,
    phone_number character varying,
    avatar_path character varying,
    role public.userrole,
    status public.userstatus,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    failed_attempts integer DEFAULT 0,
    blocked_until timestamp without time zone
);


ALTER TABLE public.users OWNER TO sirius_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: sirius_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO sirius_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sirius_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: achievements id; Type: DEFAULT; Schema: public; Owner: sirius_user
--

ALTER TABLE ONLY public.achievements ALTER COLUMN id SET DEFAULT nextval('public.achievements_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: sirius_user
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: sirius_user
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: user_tokens id; Type: DEFAULT; Schema: public; Owner: sirius_user
--

ALTER TABLE ONLY public.user_tokens ALTER COLUMN id SET DEFAULT nextval('public.user_tokens_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: sirius_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: achievements; Type: TABLE DATA; Schema: public; Owner: sirius_user
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: sirius_user
--

COPY public.audit_logs (id, actor_id, action, target_model, target_id, details, created_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: sirius_user
--



--
-- Data for Name: user_tokens; Type: TABLE DATA; Schema: public; Owner: sirius_user
--

COPY public.user_tokens (id, user_id, token, token_type, created_at, expires_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sirius_user
--



--
-- Name: achievements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sirius_user
--

SELECT pg_catalog.setval('public.achievements_id_seq', 12, true);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sirius_user
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 1, false);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sirius_user
--

SELECT pg_catalog.setval('public.notifications_id_seq', 11, true);


--
-- Name: user_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sirius_user
--

SELECT pg_catalog.setval('public.user_tokens_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sirius_user
--

SELECT pg_catalog.setval('public.users_id_seq', 6, true);


--
-- Name: achievements achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: sirius_user
--

ALTER TABLE ONLY public.achievements
    ADD CONSTRAINT achievements_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: sirius_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: sirius_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: user_tokens user_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: sirius_user
--

ALTER TABLE ONLY public.user_tokens
    ADD CONSTRAINT user_tokens_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sirius_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_achievements_id; Type: INDEX; Schema: public; Owner: sirius_user
--

CREATE INDEX ix_achievements_id ON public.achievements USING btree (id);


--
-- Name: ix_audit_logs_id; Type: INDEX; Schema: public; Owner: sirius_user
--

CREATE INDEX ix_audit_logs_id ON public.audit_logs USING btree (id);


--
-- Name: ix_notifications_id; Type: INDEX; Schema: public; Owner: sirius_user
--

CREATE INDEX ix_notifications_id ON public.notifications USING btree (id);


--
-- Name: ix_user_tokens_id; Type: INDEX; Schema: public; Owner: sirius_user
--

CREATE INDEX ix_user_tokens_id ON public.user_tokens USING btree (id);


--
-- Name: ix_user_tokens_token; Type: INDEX; Schema: public; Owner: sirius_user
--

CREATE INDEX ix_user_tokens_token ON public.user_tokens USING btree (token);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: sirius_user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: sirius_user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: achievements achievements_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sirius_user
--

ALTER TABLE ONLY public.achievements
    ADD CONSTRAINT achievements_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: audit_logs audit_logs_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sirius_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sirius_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_tokens user_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sirius_user
--

ALTER TABLE ONLY public.user_tokens
    ADD CONSTRAINT user_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict d0YdWjjY1EJ553pYyUgAbu2MdjEb5aU7hZCeyDgh36fsufLJVQRFyDLcaHvGOnI

