services:
  db:
    image: postgres:15-alpine
    container_name: sirius_db
    restart: always
    environment:
      POSTGRES_USER: sirius_user
      POSTGRES_PASSWORD: sirius_password
      POSTGRES_DB: sirius_db
      TZ: Europe/Moscow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: sirius_redis
    restart: always
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: sirius_app
    restart: always
    ports:
      - "8080:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_USERNAME=sirius_user
      - DB_PASSWORD=sirius_password
      - DB_NAME=sirius_db
      - REDIS_URL=redis://redis:6379
      - TZ=Europe/Moscow
    volumes:
      - .:/app

volumes:
  postgres_data: