version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: sirius_db
    environment:
      POSTGRES_USER: sirius_user
      POSTGRES_PASSWORD: sirius_password
      POSTGRES_DB: sirius_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: